body {  
  display: flex;  
  flex-direction: column; /* Stacked layout for better alignment */  
  justify-content: center;  
  align-items: center;  
  height: 100vh; /* Full height for centering */  
  margin: 0;   
  background-color: #b7b7b7;  
}  

.main-box {  
  width: 90%; /* Responsive width */  
  max-width: 600px;  
  margin: 20px auto;  
  background-color: #add8e6;      
  padding: 20px;                  
  border-radius: 8px;             
  border: 1px solid #007bb5;      
  color: #333;                    
  font-size: 16px;                
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);   
  overflow: hidden;               
}  

#language {  
  width: 100%; /* Full responsive width */  
  max-width: 218px; /* Maintain original max width */  
  padding: 10px;               
  margin-bottom: 20px; 
  border-radius: 5px;
}  

#language:hover {  
  border-color: #888;   
}  

#language:focus {  
  border-color: #0056b3;      
  outline: none;              
}  

#language option {  
  padding: 10px;              
  color: #333;                
  background-color: #ffffff;  
}  

#language option:hover {  
  background-color: #f0f0f0;  
}  

.no-text {  
  margin-left: 43px;   
}  

.search-button {  
  height: 39px;  
  background-color: #000709;  
  border: 1px solid #000709;  
  color: white;  
  border-radius: 5px;  
  cursor: pointer;   
  margin-bottom: 20px;   
}